In [692]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', 20)

### Data Cleaning
In order to clean the data, you will need to perform the following steps, although not necessarily in this order:
- Make sure that your notebook is organized and that you include specific comments that explain your code.  Assignments will be manually checked at the end of the course and points may be deducted for insufficient comments. (see Assignment Rubric)
- Use only base Python, Pandas, or NumPy for this assignment.  
- Combine the files together, as appropriate, so that you have one final DataFrame
- The final DataFrame must be named `housing`
- Sort the final `housing` DataFrame by `id` in ascending order
- Drop any rows with a missing value for the `medianHouseValue` column
- Fill any rows with a missing value for the `housingMedianAge` column with the median value for that column
- Drop the `state` column since it doesn't offer any added value
- In order to match the data that will be worked on in class, you will make the following changes to the values:
  - Scale the `medianIncome` to express the values in $10,000 of dollars (example: `150000` will become `15`, `30000` will become `3`, `15000` will become `1.5`, etc)
  - In your textbook, it discusses that the median income values have been capped on both the lower and upper ends.  In order to recreate this data, change any values in the `medianIncome` column that are `0.4999` or lower to `0.4999` and change any values that are `15.0001` and higher to `15.0001`.  This step should be done after the previous step.  Take a look at [this stackoverflow answer](https://stackoverflow.com/questions/38876816/change-value-of-a-dataframe-column-based-on-a-filter) if you need help with this step.
  - Revert the `medianHouseValue` back to actual dollars (example: `150` will become `150000`, `300` will become `300000`, etc)
- Update the column names and column order as shown below to match the data from the module:
  - longitude
  - latitude
  - housing_median_age
  - total_rooms
  - total_bedrooms
  - population
  - households
  - median_income
  - median_house_value
  - ocean_proximity
- Change all columns to a float data type except for the `ocean_proximity` column.  The `ocean_proximity` column should remain a string/object data type (do not update this to a categorical data type since that will be done later when working with the module data).
- Reset the DataFrame index so that it goes from `0` to `n-1`, where `n` is the number of rows in your DataFrame

In [693]:
cal_housing_high = pd.read_csv("cal_housing_high.csv")
cal_housing_low = pd.read_csv("cal_housing_low.csv")
cal_housing_medium = pd.read_csv("cal_housing_medium.csv")
long_lat = pd.read_csv("long_lat.csv")
ocean_proximity = pd.read_csv("ocean_proximity.csv")

In [694]:
###Combine the files together, as appropriate, so that you have one final DataFrame
###The final DataFrame must be named housing

housing1 = cal_housing_high.merge(cal_housing_low, how = 'outer')
housing1 = housing1.merge(cal_housing_medium, how = 'outer') 
housing1 = housing1.merge(long_lat, how = 'outer') 
housing1 = housing1.merge(ocean_proximity, how = 'outer') 

housing1 = pd.DataFrame(housing1)

In [695]:
##Drop any rows with a missing value for the medianHouseValue column
housing1 = housing1.dropna(subset=['medianHouseValue'])

housing1 = housing1.sort_values("id")
housing1.head()

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
6,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
7,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY

In [696]:
##Fill any rows with a missing value for the housingMedianAge column with the median value for that column
housing1['housingMedianAge'] = housing1['housingMedianAge'].fillna(housing1['housingMedianAge'].median())

##Drop the state column since it doesn't offer any added value

housing1.drop(['state'], axis=1)

housing1 = housing1.iloc[:, [0,9,10, 3, 5, 4, 7, 6, 8,2, 11]]

##  - Scale the `medianIncome` to express the values in $10,000 of dollars (example: `150000` will become `15`, `30000` will become `3`, 
##`15000` will become `1.5`, etc)

housing1['medianIncome'] = housing1['medianIncome']/10000


##In your textbook, it discusses that the median income values have been capped on both the lower and upper ends. 
##In order to recreate this data, change any values in the medianIncome column that are 0.4999 or lower to 0.4999 and change any values 
##that are 15.0001 and higher to 15.0001. This step should be done after the previous step. Take a look at this stackoverflow answer
##if you need help with this step.

housing1.loc[housing1['medianIncome'] <= .4999, 'medianIncome'] = .4999
housing1.loc[housing1['medianIncome'] >= 15.0001, 'medianIncome'] = 15.0001

In [697]:
##Revert the medianHouseValue back to actual dollars (example: 150 will become 150000, 300 will become 300000, etc)

housing1['medianHouseValue'] = housing1['medianHouseValue']*1000

In [698]:
###Update the column names and column order as shown below to match the data from the module:
##longitude
##latitude
##housing_median_age
##total_rooms
#total_bedrooms
#population
#households
#median_income
#median_house_value
#ocean_proximity

housing1.rename(columns = {'medianHouseValue':'median_house_value', 'housingMedianAge':'housing_median_age',
                              'totalBedrooms':'total_bedrooms', 'totalRooms':'total_rooms', 
                          'medianIncome':'median_income'}, inplace = True)
housing1

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,1,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,2,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,3,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
6,4,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
7,5,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
11988,21554,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
13786,21555,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
13787,21556,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
13788,21557,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
13789,21558,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [699]:
##Change all columns to a float data type except for the ocean_proximity column. 
##The ocean_proximity column should remain a string/object data type (do not update this 
##to a categorical data type since that will be done later when working with the module data).

housing1 = housing1.astype({'longitude':'float', 'latitude':'float', 'housing_median_age':'float', 'total_rooms' :'float', 'total_bedrooms':'float',
                          'population':'float', 'households':'float','median_income':'float', 
         'median_house_value':'float'})

##Sort the final housing DataFrame by id in ascending order
housing = housing1.drop(['id'], axis=1)
housing = housing.reset_index(drop=True)

In [700]:
##Reset the DataFrame index so that it goes from 0 to n-1, where n is the number of rows in your DataFrame